# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# Database (если будет локальный sqlite, но у нас PostgreSQL)
*.sqlite3