# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# Other
.DS_Store